#keyboard_shortcuts_help {
	display: none;
}

#keyboard_shortcuts_help div {
	float: left;
	width: 350px;
}

#keyboard_shortcuts_help div div.shortcut_key {
	width: 30px;
	float: left;
	font-weight: bold;
	text-align: center;
}

#keyboard_shortcuts_title {
  margin-left: 12px;
}

#keyboard_shortcuts_link {
  width: 31px !important;
}


ul.toolbarmenu li a.active.selected
/* This is a copy of the below style from the larry theme
.googie_list td.googie_list_onhover,
ul.toolbarmenu li a.active:hover
ul.toolbarmenu li a.active:focus,
#rcmKSearchpane ul li.selected,
select.decorated option:hover,
select.decorated option[selected='selected'] */{
	background-color: #00aad6;
	background: -moz-linear-gradient(top, #00aad6 0%, #008fc9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00aad6), color-stop(100%,#008fc9));
	background: -o-linear-gradient(top, #00aad6 0%, #008fc9 100%);
	background: -ms-linear-gradient(top, #00aad6 0%, #008fc9 100%);
	background: linear-gradient(to bottom, #00aad6 0%, #008fc9 100%);
	outline: none;
}
